---
import { defaultLang } from '../i18n/ui';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content={`0;url=/${defaultLang}/`} />
    <title>Redirecting...</title>
</head>
<body>
    <p>Redirecting to <a href={`/${defaultLang}/`}>default language</a>...</p>
</body>
</html>
